.label {
	font-weight: bold;
}

.alert {
	display: block;
	border: solid #F00 1px;
	background-color: #FAA;
	text-align: center;
}

#homeLink {
	display: block;
	margin-bottom: 1em;
}

#qrcode {
	max-width: 20%;
	display: block;
	float: right;
}

@media screen and (min-width: 480px) {
	#mobile {
		display: none;
		visibility: hidden;
	}
	.donkeyPicture {
		display: block;
		float: right;
		clear: right;
		max-width: 50%;
	}
	#main {
		width: 60%;
		border: solid #007248 1px;
		margin: auto;
		padding: 1em;
		overflow: auto;
	}
}

@media screen and (max-width: 480px) {
	body {
		width: 100%;
	}
	#homeLink, #desktop {
		display: none;
		visibility: hidden;
	}
	.donkeyPicture {
		max-width: 100%;
	}
}