.label {
	font-weight: bold;
}

.alert {
	display: block;
	border: solid #F00 1px;
	background-color: #FAA;
	text-align: center;
}

#homeLink {
	display: block;
	margin-bottom: 1em;
}

@media screen and (min-width: 480px) {
	#mobile {
		display: none;
		visibility: hidden;
	}
	.donkeyPicture {
		max-height: 300px;
	}
}

@media screen and (max-width: 480px) {
	body {
		width: 100%;
	}
	#homeLink, #desktop {
		display: none;
		visibility: hidden;
	}
	.donkeyPicture {
		max-width: 100%;
	}
}